#square {
    width: 50px;
    height: 50px;
    background-color: red;
}

#square2 {
    width: 50px;
    height: 50px;
    background-color: yellow;
    -webkit-transition: all 2s;
    transition: all 2s;

}

.animate {
    -webkit-animation-name: animation;
    -moz-animation-name: animation;
    -o-animation-name: animation;
    animation-name: animation;

    animation-duration: 5s;

    animation-play-state: paused;
}

@keyframes animation {
    25% {
        background-color: blue;
    }

    50% {
        background-color:yellow;
    }

    75% {
        background-color: purple;
    }

    100% {
        background-color: green;
    }
}