.headerBar {
    background-color: darkblue;
    color: white;
    width:100%;
    height: 55px;
    line-height: 55px;
}

.boldInformation{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}

.mediumInformation {
    font-size :35px;
    font-weight: bold;
    display: block;
}

.subInformation {
    padding-top: 5px;
    font-size:20px;

    display: block;
}

#mainScreen {
    padding-top: 25px;
    height:80%;
}
#topRow {
    height: 35%;
}

#hourlyRow {
    height:35%;
}
#forecastRow {
    height: 20%;
}
#additionalCurrentRow {
    height: 10%;
}

.animated {
    transition: all .5s;
    max-height: 300px;
    opacity: 1;
}

.pre-animation {
    opacity: 0;
    max-height: 0;
}
.scrollingContent {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    margin-top:2%
}

.hourlyIcon {
    font-size: 25px;
    padding-top: 20%;
}
.conditionItem {
    border: 1px solid;
    width: 19%;
    text-align: center;
    height: 95%;
    margin-bottom: 5px;
}
.flexItem{
    flex: 0 0 auto;
}
.forecastItem {
    border: 1px solid;
    width:25%;
    text-align: center;
    height:95%;

}
.hourLabel {
    display: block;
    width: 100%;
    height:12%;
}
.tempLabel {
    display: block;
    padding-top: 15%;
    font-size: 18px;
}
.blackBackground
{
    background-color: darkblue;
    color: white;
}
.dayLabel {
    display: block;
    width: 100%;
    height:17%;
}

.dayTempLabel {
    display: block;
    padding-top: 15%;
    font-size: 13px;
}
.hourPrecip {
    display: block;
    padding-top: 15%;
    font-size: 15px;
}

.hidden {
    display: none;
}
#search {
    padding: 5px;
    transition: 1s all;
}

hr{
    margin-top: 5%;
    margin-bottom: 5%;
    border:0;
    height:1px;
    background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}
.fullHeight{
    height: 100%;
}
.centerText {
    text-align: center;
}
.left {
    float:left;
}

.right {
    float:right;
}

.half {
    width: 50%;
}
#currentIcon{
    font-size: 65px;
    padding-top: 15%;


}

#searchBox {
    margin-left: 15px;
    height: 50%;
    width:75%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    outline: none;



}
#locationName {
    font-size: 25px;
    position: relative;
    vertical-align: center;
    padding-left: 15px;
}

html,body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    height: 100%;
}

::placeholder {
    color: white;
    opacity: 1;
}
footer {
    position: absolute;
    bottom: 0;
}