.headerBar {
    background-color: darkblue;
    color: white;
    width:100%;
    height: 75px;
    line-height: 75px;
}

.boldInformation{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}

.mediumInformation {
    font-size :35px;
    font-weight: bold;
    display: block;
}

.subInformation {
    padding-top: 5px;
    font-size:20px;

    display: block;
}

#mainScreen {
    padding-top: 25px;
    height:inherit;
}
#topRow {
    height: 25%;
}

#hourlyRow {
    height:25%;
    margin: 0 15px;
}
#additionalCurrentRow {
    height: 10%;
}

#hourlyConditions {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.hourlyIcon {
    font-size: 25px;
    padding-top: 20%;
}
.conditionItem {
    flex: 0 0 auto;
    border: 1px solid;
    width: 19%;
    text-align: center;
    height: 95%;
    margin-bottom: 5px;
}
.hourLabel {
    background-color: black;
    color: white;
    display: block;
    width: 100%;
    height:12%;
}
.tempLabel {
    display: block;
    padding-top: 15%;
    font-size: 18px;
}

.hourPrecip {
    display: block;
    padding-top: 15%;
    font-size: 15px;
}
hr{
    margin-top: 15px;
    margin-bottom: 15px;
    border:0;
    height:1px;
    background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}
.fullHeight{
    height: 100%;
}
.centerText {
    text-align: center;
}
.left {
    float:left;
}

.right {
    float:right;
}

.half {
    width: 50%;
}
#currentIcon{
    font-size: 65px;
    padding-top: 15%;


}

#locationName {
    font-size: 25px;
    position: relative;
    vertical-align: center;
    padding-left: 15px;
}

html,body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}